/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* general */
body{
    background-color: black;
}
main{
    margin: 60px 20px 10px 20px;
}
/* main */
.row-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user, img {
    width: 257px;
    margin-right: 5px;
    margin-bottom: 1px;
}
/* footer */
footer{
    height: 70px;
}
.db{
    background-color: gray;
}